# Aggregates in Pandas

In [11]:
import pandas as pd
import numpy as np

### Calculating Column Statistics

Aggregate functions summarize many data points (i.e., a column of a dataframe) into a smaller set of values.

The following table summarizes some common commands:

| Command             |              Description          |
|---------------------|-----------------------------------|
| mean                | Average of all values in column   |
| std                 | Standard deviation                |
| median              | Median                            |
| max                 | Maximum value in column           |
| min                 | Minimum value in column           |
| count               | Number of values in column        |
| nunique             | Number of unique values in column |
| unique              | List of unique values in column   |

In [13]:
orders = pd.read_csv('orders.csv')
print(orders.head(10))

      id first_name    last_name                         email     shoe_type  \
0  41874       Kyle         Peck          KylePeck71@gmail.com  ballet flats
1  31349  Elizabeth    Velazquez      EVelazquez1971@gmail.com         boots
2  43416      Keith     Saunders              KS4047@gmail.com       sandals
3  56054       Ryan      Sweeney     RyanSweeney14@outlook.com       sandals
4  77402      Donna  Blankenship              DB3807@gmail.com     stilettos
5  97148     Albert       Dillon       Albert.Dillon@gmail.com        wedges
6  19998     Judith       Hewitt      JudithHewitt98@gmail.com     stilettos
7  83290      Kayla       Hardin        Kayla.Hardin@gmail.com     stilettos
8  77867     Steven  Blankenship  Steven.Blankenship@gmail.com        wedges
9  54885      Carol   Mclaughlin              CM3415@gmail.com  ballet flats

  shoe_material shoe_color  price
0  faux-leather      black  385.0
1        fabric      brown  388.0
2       leather       navy  346.0
3        fabric      brown  344.0
4        fabric      brown  289.0
5        fabric      brown  266.0
6       leather      black  395.0
7       leather      white  241.0
8       leather       navy  266.0
9  faux-leather      brown  440.0

Our finance department wants to know the price of the most expensive pair of shoes purchased. Save your answer to the variable `most_expensive`.

In [14]:
most_expensive = orders.price.max()
print(most_expensive)

498.0

Our fashion department wants to know how many different colors of shoes we are selling. Save your answer to the variable `num_colors`.

In [15]:
num_colors = orders.shoe_color.nunique()
print(num_colors)

5

### Calculating Aggregate Functions I

When we have a bunch of data, we often want to calculate aggregate statistics (mean, standard deviation, median, percentiles, etc.) over certain subsets of the data.

In the previous exercise, our finance department wanted to know the most expensive shoe that we sold.

Now, they want to know the most expensive shoe for each `shoe_type` (i.e., the most expensive boot, the most expensive ballet flat, etc.).

Save your answer to the variable `pricey_shoes`. What type of object is `pricey_shoes`?

In [16]:
pricey_shoes = orders.groupby('shoe_type').price.max()
print(pricey_shoes)
print(type(pricey_shoes))

shoe_type
ballet flats    498.0
boots           478.0
clogs           493.0
sandals         498.0
stilettos       487.0
wedges          488.0
Name: price, dtype: float64
<class 'pandas.core.series.Series'>

### Calculating Aggregate Functions II

After using `groupby`, we often need to clean our resulting data.

Modify your code from the previous exercise so that it ends with `reset_index`, which will change pricey_shoes into a DataFrame.

In [17]:
pricey_shoes = orders.groupby('shoe_type').price.max().reset_index()
print(pricey_shoes)
print(type(pricey_shoes))

      shoe_type  price
0  ballet flats  498.0
1         boots  478.0
2         clogs  493.0
3       sandals  498.0
4     stilettos  487.0
5        wedges  488.0
<class 'pandas.core.frame.DataFrame'>

### Calculating Aggregate Functions III

Sometimes, the operation that you want to perform is more complicated than mean or count. In those cases, you can use the apply method and lambda functions, just like we did for individual column operations. Note that the input to our lambda function will always be a list of values.

Let’s calculate the 25th percentile for shoe price for each `shoe_color` to help Marketing decide if we have enough cheap shoes on sale. Save the data to the variable `cheap_shoes`.

In [18]:
cheap_shoes = orders.groupby('shoe_color').price.apply(lambda x: np.percentile(x, 25)).reset_index()
print(cheap_shoes)

  shoe_color  price
0      black    NaN
1      brown  215.0
2       navy  204.5
3        red  180.5
4      white  194.5

### Calculating Aggregate Functions IV

Sometimes, we want to group by more than one column. We can easily do this by passing a list of column names into the groupby method.

Create a DataFrame with the total number of shoes of each `shoe_type`/`shoe_color` combination purchased. Save it to the variable `shoe_counts`.

Note: When we’re using `count()`, it doesn’t really matter which column we perform the calculation on. You should use id in this example, but we would get the same answer if we used `shoe_type` or `last_name`.

In [19]:
shoe_counts = orders.groupby(['shoe_type', 'shoe_color'])['id'].count().reset_index()
print(shoe_counts)

       shoe_type shoe_color  id
0   ballet flats      black   4
1   ballet flats      brown  16
2   ballet flats       navy  17
3   ballet flats        red  16
4   ballet flats      white  12
5          boots      black   3
6          boots      brown   5
7          boots       navy   6
8          boots        red   2
9          boots      white   3
10         clogs      black   4
11         clogs      brown   6
12         clogs       navy   1
13         clogs        red   4
14         clogs      white   1
15       sandals      black   4
16       sandals      brown  14
17       sandals       navy  18
18       sandals        red  17
19       sandals      white  14
20     stilettos      black  13
21     stilettos      brown  17
22     stilettos       navy   9
23     stilettos        red  18
24     stilettos      white   7
25        wedges      black   3
26        wedges      brown  17
27        wedges       navy  20
28        wedges        red   9
29        wedges      white  19

### Pivot Tables

When we perform a `groupby` across multiple columns, we often want to change how our data is stored. Reorganizing a table in this way is called pivoting. The new table is called a pivot table.

Make it easier for her to compare purchases of different shoe colors of the same shoe type by creating a pivot table. Save your results to the variable `shoe_counts_pivot`.

In [20]:
shoe_counts_pivot = shoe_counts.pivot(
  columns = 'shoe_color',
  index = 'shoe_type',
  values = 'id'
).reset_index()

print(shoe_counts_pivot)

shoe_color     shoe_type  black  brown  navy  red  white
0           ballet flats      4     16    17   16     12
1                  boots      3      5     6    2      3
2                  clogs      4      6     1    4      1
3                sandals      4     14    18   17     14
4              stilettos     13     17     9   18      7
5                 wedges      3     17    20    9     19

### Review

Let’s examine some more data from ShoeFly.com. This time, we’ll be looking at data about user visits to the website (the same dataset that you saw in the introduction to this lesson).

The data is a DataFrame called `user_visits`. Use `print` and `head()` to examine the first few rows of the DataFrame.

In [21]:
user_visits = pd.read_csv('page_visits.csv')

print(user_visits.head(10))

      id first_name   last_name                       email         month  \
0  10043      Louis        Koch       LouisKoch43@gmail.com     3 - March
1  10150      Bruce        Webb     BruceWebb44@outlook.com     3 - March
2  10155   Nicholas     Hoffman  Nicholas.Hoffman@gmail.com  2 - February
3  10178    William         Key     William.Key@outlook.com     3 - March
4  10208      Karen        Bass            KB4971@gmail.com  2 - February
5  10260   Benjamin       Ochoa  Benjamin.Ochoa@outlook.com   1 - January
6  10271     Gerald     Aguilar    Gerald.Aguilar@gmail.com     3 - March
7  10278    Melissa     Lambert   Melissa.Lambert@gmail.com  2 - February
8  10320       Adam  Strickland   Adam.Strickland@gmail.com     3 - March
9  10389      Ethan       Payne    EthanPayne26@outlook.com  2 - February

  utm_source
0      yahoo
1    twitter
2     google
3      yahoo
4     google
5    twitter
6     google
7      email
8      email
9   facebook

The column `utm_source` contains information about how users got to ShoeFly’s homepage. For instance, if `utm_source` = `Facebook`, then the user came to ShoeFly by clicking on an ad on Facebook.com.

Use a `groupby` statement to calculate how many visits came from each of the different sources. Save your answer to the variable `click_source`.

In [22]:
click_source = user_visits.groupby('utm_source').count().reset_index()
print(click_source)

  utm_source   id  first_name  last_name  email  month
0      email  462         462        462    462    462
1   facebook  823         823        823    823    823
2     google  543         543        543    543    543
3    twitter  415         415        415    415    415
4      yahoo  757         757        757    757    757

Our Marketing department thinks that the traffic to our site has been changing over the past few months. Use `groupby` to calculate the number of visits to our site from each `utm_source` for each month.

Save your answer to the variable `click_source_by_month`.

In [23]:
click_source_by_month = user_visits.groupby(['utm_source', 'month']).id.count().reset_index()
print(click_source_by_month)

   utm_source         month   id
0       email   1 - January   43
1       email  2 - February  147
2       email     3 - March  272
3    facebook   1 - January  404
4    facebook  2 - February  263
5    facebook     3 - March  156
6      google   1 - January  127
7      google  2 - February  196
8      google     3 - March  220
9     twitter   1 - January  164
10    twitter  2 - February  154
11    twitter     3 - March   97
12      yahoo   1 - January  262
13      yahoo  2 - February  240
14      yahoo     3 - March  255

The head of Marketing is complaining that this table is hard to read. Use pivot to create a pivot table where the rows are `utm_source` and the columns are month.

Save your results to the variable `click_source_by_month_pivot`.

In [24]:
click_source_by_month_pivot = click_source_by_month.pivot(
  columns = 'month',
  index = 'utm_source',
  values = 'id'
).reset_index()

print(click_source_by_month_pivot)

month utm_source  1 - January  2 - February  3 - March
0          email           43           147        272
1       facebook          404           263        156
2         google          127           196        220
3        twitter          164           154         97
4          yahoo          262           240        255